/* Navbar */ 
.sony-navbar img {
    height: 15px;
}

/* Jumbos and section backgrounds */
.highlight-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.highlight-jumbo-contents {
    min-height: 700px;
}

.highlight-jumbo-contents img {
    height: 50px;
}

.new-publications-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

.new-publications-jumbo-contents {
    min-height: 600px;
}

.new-publications-jumbo-contents img {
    height: 200px;
}

#new-publications {
    background-color: rgb(31 31 31);
}

#ps-plus {
    background-color: grey;
}

#ps-now {
    background-color: darkblue;
}

/* Footer */ 
footer {
    color: white;
    background-color: rgb(0 67 156);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.disclaimer {
    max-width: 50%;
}

/* Debug */ 
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}
