/* Jumbos and section backgrounds */
.highlight-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.main-jumbo-contents {
    min-height: 600px;
    gap: 35px;
}

.new-publications-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.new-publications-jumbo-contents {
    min-height: 500px;
    gap: 30px;
}

#new-publications {
    background-color: rgb(31 31 31);
}

#ps-plus {
    background-color: grey;
}









/* Debug */ 
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}


/* Footer */ 
footer {
    color: white;
    background-color: rgb(0 67 156);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}
