/* Jumbos and section backgrounds */
.highlight-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

.main-jumbo-contents {
    min-height: 600px;
    gap: 35px;
}

.new-publications-jumbo {
    min-height: 500px;
    background-color: blueviolet;
}

#new-publications {
    background-color: grey;
}









/* Debug */ 
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}

footer {
    color: white;
    background-color: blue;
}
