.highlight-jumbo {
    min-height: 500px;
    background-color: bisque;
}

.new-publications-jumbo {
    min-height: 500px;
    background-color: blueviolet;
}

#new-publications {
    background-color: grey;
}









/* Debug */ 
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}

footer {
    color: white;
    background-color: blue;
}
