
/* Navbar */ 
.sony-navbar img {
    height: 15px;
}

.nav-bar-right img {
    height: 30px;
} 

/* Jumbos and section backgrounds */
.highlight-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.highlight-jumbo-contents {
    min-height: 700px;
}

.highlight-jumbo-contents img {
    height: 50px;
}

.new-publications-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: left;
}

.new-publications-jumbo-contents {
    min-height: 700px;
}

.new-publications-jumbo-contents img {
    height: 200px;
}

#new-publications {
    background-color: rgb(31 31 31);
}

#ps-plus {
    background-color: rgb(192, 192, 192);
}

.ps-plus-left-column,
.ps-now-left-column {
    height: 50vh;
}

.ps-plus-left-column img,
.ps-now-left-column img {
    height: 80px;
}

.ps-plus-right-column img,
.ps-now-right-column img {
    height: 50vh;
}

#ps-now {
    background-color: rgb(22 28 59);
}

/* Footer */ 
footer {
    color: white;
    background-color: rgb(0 67 156);
}

footer img {
    height: 30px;
}

footer img.img-fluid {
    height: 70px;
}

.disclaimer img {
    height: 50px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.disclaimer a {
    text-decoration: underline;
}

/* Effects */
#highlight p,
#new-publications p,
#highlight h2,
#new-publications h2 {
    text-shadow: 2px 2px 6px rgba(0,0,0, 0.8);
}

.thumb:hover {
    translate: 0 -5px;
    Box-shadow: 0px 3px 10px 1px rgba(0,0,0, 0.4);
}

.thumb {
    transition: translate 0.1s linear, box-shadow 0.1s linear;
}

.thumb-active {
    border: 2px solid blue;
    padding: 4px;
}

#new-publications .thumb:hover {
    Box-shadow: 0px 3px 10px 1px rgba(170, 170, 170, 0.4);
}

.device:hover {
    color: black;
    opacity: 100%;
}

.device {
    color: grey;
    opacity: 60%;
    transition: opacity 0.2s linear;
}

.device-active {
    border-bottom: 2px solid blue;
}

.scale-fx:hover {
    transform: scale(1.1);
}

.scale-fx {
    transition: transform 0.2s linear;
}

/* Media Query */
@media screen and (min-width: 1200px) {
    .jumbo-internal-container {
        width: calc(100% / 3);
    }

    .disclaimer {
        width: 55%;
    }

    .new-publications-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

}


