/* Navbar */ 
.sony-navbar img {
    height: 15px;
}

.nav-bar-right img {
    height: 30px;
} 

/* Jumbos and section backgrounds */
.highlight-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.highlight-jumbo-contents {
    min-height: 700px;
}

.highlight-jumbo-contents img {
    height: 50px;
}

.new-publications-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

.new-publications-jumbo-contents {
    min-height: 600px;
}

.new-publications-jumbo-contents img {
    height: 200px;
}

#new-publications {
    background-color: rgb(31 31 31);
}

#ps-plus {
    background-color: rgb(192, 192, 192);
}

#ps-now {
    background-color: darkblue;
}

/* Footer */ 
footer {
    color: white;
    background-color: rgb(0 67 156);
}

footer img {
    height: 30px;
}


.disclaimer img {
    height: 50px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/* Effects */
.thumb:hover {
    border-radius: 20px;
    border: 2px solid blue;
    padding: 0.25rem;
}


.device:hover {
    border-bottom: 2px solid blue;
    color: black;
    opacity: 100%;
}

.device {
    color: grey;
    opacity: 60%;
}

.discount-fx:hover {
    transform: scale(1.1);
}

.discount-fx {
    transition: transform 0.1s linear;
}

/* Media Query */
@media screen and (min-width: 1200px) {
    .jumbo-internal-container {
        width: calc(100% / 3);
    }
}
