/* Jumbotron */ 
.main-jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    min-height: 500px;
    color: white;
}

.new-titles-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    min-height: 500px;
    color: white;
}

#ps-store {
    background-color: rgb(172, 172, 172);
    min-height: 400px;
}

#ps-now {
    color: white;
    background-color: rgb(12, 12, 78);
}

#new-titles {
    background-color: rgb(53, 53, 53);
    min-height: 400px;
}

/* Cards */ 
.highlight-card-wrapper {
    gap: 10px;
}

.highlight-card {
    flex-basis: calc(100% /6 - 10px * 5 /6)
}

.ps-shower-card {
    flex-basis: calc(100% /5 - 10px * 4 /5);
}

.social-icon {
    
    width: 30px;
}

.social-icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Debug */ 
.debug,
.debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}